<html>
    <head>
        <title>About</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css"/>
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Yash Jain. It uses data from mapbox.com and darksky.net!</p>
            <p>Use this website to get weather forecast for a location.</p>
            <img class="portrait" src="/img/profile.jpg">
            <p>Head over to <a href="https://github.com/YashJainHSR/weather-app/">https://github.com/YashJainHSR/weather-app/</a> for source code.</p>
        </div>
        {{>footer}}
    </body>
</html>